*{
    margin:0px;
    padding:0px;
    border:0px;
 }
 .botao-operacao{
     width: 20px;
     height: 20px;
     
 }
 table, table td{
     border: 1px #000 solid;
 }

 #zero{
     width: 45px;
     height: 20px;
 }
 input{
     border:1px #000 solid;
     width: 100px;
 }
.fundo-tabela{
    position: relative;
    width: 100px;
    margin: auto;
  
}